### Exercise 5 of Data Mining class

#### João Pedro Moreto Lourenção

In [1]:
import pandas as pd

fisio = pd.read_csv('fisioterapia.csv')
fisio.head()

           v1         v2         v3         v4         v5         v6
0  100.892160  69.813942  28.272501  62.241459  90.513961  58.823648
1  101.723334  44.991547  14.377189  42.157862  56.535051  25.773174
2  101.868495  44.311238  24.652878  44.644130  69.297008  11.211523
3  102.042812  51.500000  -0.261499  58.861028  58.599529  28.059697
4  102.337524  61.200000  13.469986  56.929322  70.399308  25.538429